@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

   /*Set style for all elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
   /*Set font and font weight & the color of same*/
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: white
}
   /*Set font and letter spacing for all h1/h2 elements & transform to uppercase*/
h1,
h2 {
    font-family: oswald, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
   /*Style the navigation bar*/
#nav-bar {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}
   /*Style the navigation bar list items*/
#nav-bar li {
    list-style-type: none;
    text-align: right;
    display: inline-block;
    padding: 8px 2px;
    margin-right: 25px;

}
   /*Style the Header logo*/
#logo {
    padding-left: 10px;
    float: left;
    font-size: 250%;
    text-decoration: none;
    color: #040147;

}
    /*Style the navigation bar anchor tags*/
#nav-bar a {
    text-decoration: none;
    color: #040147;
}
    /*Setting the line height for the header logo & navigation bar*/
#nav-bar,
#logo {
    line-height: 75px;
}
     /*Style the hero image container*/
.hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;

}
      /*Style the hero image*/
.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-oleksandr-pidvalnyi-12061244.jpg') no-repeat center center;
    background-size: cover;

}
     /*Style the heading text container*/
.hero-text-container {
    height: 200px;
    width: 100%;
    background-color: #e68839;
    margin-bottom: -50px;
}

    /*Style the heading text*/
.hero-text {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    color: black;
}
    /*Style the about us section container*/
#about-us {
    margin-top: -50px;
    background-color: #040147;
    width: 100%;
    height: 550px;
    text-align: center;
    clear: both;
}
   /*Style the about us text*/
#about-us-text {
    padding-top: 50px;
}
   /*Style the p element and the unordered list*/
.center-list p {
    text-align: center;
    
    padding-bottom: 7px;
}
.center-list{
    text-align: center;
}

.center-list > ul {
    display: inline-block;

}
   /*Style the table*/

.table-view { 
    padding: 10px 10px 10px 10px;
    text-decoration: underline;
    border: solid 1px white;
    border-radius: 6px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

}
   /*Style the sign up section container*/
#sign-up {
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: -50px;
    background-color: #e68839;
    position: relative;

}
     /*Style the form*/
.form {
    max-width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
}
   /*Style the fieldset & legend*/
fieldset {
    margin: 2em;
    padding: 1em 2em;
    border: solid 1px black;
    border-radius: 6px;
    min-width: 200px;
}

legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: black;
}

#form-text-color {
    color: black;
}
   /*Style the form labels*/
label {
    display: block;
    margin-top: 1em;
    color: black;

}
    /*Style the submit button*/
input[type=submit] {
    margin-top: 20px;
    padding: .5em 1em;
    border-radius: 6px;
    color: white;
    background-color: #040147;

}
     /*Style the footer section*/
#contact-info-container {
    background-color: #040147;
    height: 300px;
    width: 100%;
}
    /*Center the text in the footer section*/
.contact-text {
    text-align: center;
    padding-top: 50px;

}
     /*Style the social media links*/
#social-links {
    text-align: center;
    padding-top: 20px;

}

#social-links li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding: 8px 12px;
}

#social-links a {
    text-decoration: none;
    font-size: 150%;
    color: #e68839;
}

     /*Add some responsive design ... Some inspiration taken from Love Running*/
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 15px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .hero-image {
        margin: 0 auto;
    }

    #logo {
        margin: 0 auto;
        padding-left: 40px;
    }

    .hero-text {
        padding-bottom: 40px;

    }
}